{% extends 'pro/home.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col text-left d-flex justify-content-between">
            <!-- <div class="container d-flex justify-content-around"> -->
            <h1>{{ user.username }}'s Restaurant list</h1> <small><a href="{% url 'create' %}"><button class="btn btn-danger">Add new</button></a></small>
            <a href="{% url 'create' %}"><button class="btn btn-outline-success text-center text-capitalize"> upload restuarant</button></a>
            <!-- </div> -->
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 ">               
    {% for obj in object_list %}
    
        <a href="{{ obj.get_absolute_url }}" class="button btn btn-outline-danger mx-4 d-flex">{{ obj }}</a>
        <li class="text-left" style="list-style: none;"> {{ obj.name }}  {{ obj.category}} {{ obj.location}} {{ obj.timestamp}} updated {{ obj.updated|timesince }} ago</li>
        {% empty %}
        <l1>a<a href=">{% url 'create' %}"></a>Add a restaurant</l1>   
    
    {% endfor %}                 
    </div>
    </div>
</div>
{% endblock content%}