{% extends 'pro/home.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-4 text-left text-dark">
            details views
            <h1>Items name:{{ object.name }}</h1>
            <h1>Restaurant:{{ object.restaurant.name }}</h1>
            <h4>items content:{{ object.contents }}</h4>
            <h4>unwanted content:{{ object.excludes }}</h4>
            
              
                {% if object.contents %}
                <h1>Contents</h1>
                <ul>
                    {% for item in object.get_contents %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if object.excludes %}
               <h1> Exludes</h1>
               <ul>
                   {% for item in object.get_excludes %}
                    <li>
                        {{ item }}
                    </li>
                    {% endfor %}
               </ul>
               {% endif %}
            </li>
               </div>
                
            </ul>
        </div>
</div>
        <div class="row">
            <div class="col"><a href="{{ object.get_absolute_url }}edit/"><button class="btn btn-info">edit</button></a></div>
        </div>
    </div>
</div>
{% endblock content%}